body {
    background-color: powderblue;
    margin: 50px;
}
.title {
    background-color: white;
    height: 80px;
    padding:0px;
    margin:0px;
    text-align: center;
}

h2 {
    height:30px;
    display: block;
    padding:0;
}

button {
    display: block;
    margin: 20px;
}

td {
    border: 2px solid black;
    padding: 35px;
    text-align: center;
    width: 25px;
    height: 25px;

}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
  